@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
  margin: 10px 250px 10px 250px;
}

nav ul li {
  font-weight: 900;
  font-size: 0.9em;
  cursor: pointer;
}

nav ul li:hover {
  text-decoration: underline;
}

h1 {
  font-size: 4em;
  font-weight: 1100;
}

section div ul li {
  font-size: 0.9em;
}

.sec1 {
  background: yellow;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec1 img {
  height: 400px;
  width: 400px;
}

.form1 {
  width: 200px;
  height: 50px;
  background-color: whitesmoke;
  color: black;
  border-radius: 25%;
  border-color: whitesmoke;
  cursor: pointer;
  font-size: 1em;
  font-weight: 520;
  letter-spacing: 0.4px;
}

#sec2 ul li {
  color: grey;
  cursor: pointer;
  list-style: none;
}

#sec2 ul li:hover {
  color: black;
}

#sec2-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

h4 {
  margin-bottom: 10px;
}

.form2 {
  margin-top: 30px;
}

select {
  width: 200px;
  height: 30px;
}

#foot {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  padding-left: 200px;
}

#foot1 {
  padding-left: 30px;
}

p {
  cursor: pointer;
}
